<Welcome @name="Falk"/>
Available routes:
<ul>
  <li>
    <LinkTo @route="products">Products</LinkTo>
  </li>
  <li>
    <LinkTo @route="counting">Counter</LinkTo>
  </li>
</ul>
------------------
{{outlet}}
